*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    
    margin-top:143px;
    height:73.0vh;
    display: flex;
}
::-webkit-scrollbar {
    display: none;
  }
  .chart{
    position: fixed;
    width: 260px;
    height:400px;
    
    left:76%;
    top:28%;
    right:0.5%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  }
  .chart .w,.chart .c{
    width:100%;
    height: 50%;
    padding: 0px;
    background-color: #ffffffe1;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .chart .c{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
  }
  .chart .w h3,.chart .c h3{
    padding:3px;
    text-align: center;
    background-color: greenyellow;
    border-bottom: 2px solid blue;
    color:blue;
    margin-bottom: 1px;
  }
  .chart .w h3{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .chart .w ul,.chart .c ul{
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
    text-align: center;
  }
  .chart .w ul li,.chart .c ul li{
    cursor: pointer;
    padding: 5px;
    margin-top: 8px;
    font-weight: bolder;
  }
  li:nth-child(odd){
    background-color: #fffffff8;
    box-shadow: 1px 1px 1.5px black;
  }
  .chart .w ul li:hover,.chart .c ul li:hover{
    background-color: rgb(164, 34, 190);
    box-shadow: 2px 2px 3px black;
    color:#fff;
  }
  .result{
    background-color: #ffffff7e;
    position: fixed;
    width: 760px;
    height:400px;
    left:8%;
    top:28%;
    right:0.5%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  }
  .result section{
    display: flex;
    padding-left:40.5%;
    padding-top:5px;
    padding-bottom:5px;
    background-color:  greenyellow;
    border-bottom:2px solid blue;
    border-top-right-radius:8px;
    border-top-left-radius: 8px;
  }
  .result section p{
    font-size: 20px;
    font-weight: bold;
    background-color: blue;
    color:#fff;
    border-radius: 8px;
    padding:5px;
    border-bottom: 2px solid #fff;
  }
  .result section button{
    margin-left:50.5%;
    margin-right:10px;
    border:none;
    padding:0px;
    background-color: #fff;
    color:black;
    font-size:15px;
    padding-top:1px;
    padding-bottom:1px;
    padding-left:8px;
    padding-right:8px;
    cursor: pointer;
    border-radius: 5px;
    height:fit-content;
    width:fit-content;
    display: inline-block;
    margin-top:1.5%;
  }
  .result section button:hover{
    background-color: red;
    color:#fff;
  }
  .result .holder{
    width:98%;
    height:85%;
    
    margin:1%;
    display:flex;
  }
  .result .holder .info{
    width:45%;
    height:100%;
    height:100%;
   
    display: flex;
    flex-direction: column;
  }
 
 .result .holder .info .eligibility, .result .holder .info .items{
  width:98%;
  height:49%;
  background-color: #ffffffea;
  margin-bottom: 3%;
  margin-left:3.5%;
  border-radius: 8px;;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.9);
 }
 .result .holder .info .eligibility h3, .result .holder .info .items h3,.result .holder .data h3{
  text-align: center;
  background-color: #1a28f2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding:2px;
  border-bottom: 2px solid red;
  color:#fff;
 }
 .result .holder .info .eligibility p, .result .holder .info .items p{
  padding:5px;
  text-align: center;
  
 }

 .result .holder .data{
  width:54%;
  height:97%;
  background-color:#ffffffdd;
  margin-left:3%;
  margin-bottom:2%;
  margin-right:2%;
  border-radius: 8px;;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.9);
 }
 .result .holder .data .success{
  width:95%;
  height:85%;
  margin:2%;
  background-color:#fff;
  overflow-y: scroll;
 }
 .success table{
  width:100%;
}

table,th,td,tr{
  border:1px solid blue;
  border-collapse: collapse;
  
}
table,th{
  padding: 10px;
}
tr,td{
  padding:8px;
}
th{
  background-color:  rgb(240, 68, 137);
  color:#fff;
}
tr td:nth-child(3){
 
  text-align: center;
  padding:10px;
}
tr td button{
  padding: 5px;
  border-radius: 5px;
 background-color:rgb(80, 240, 47); 
 border:1px solid blue;
 color:blue;
 box-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}
tr td button:hover{
  box-shadow: 3px 3px 3px rgba(0,0,0,0.9);
 background-color:rgba(80, 240, 47,0.65); 


}
tbody tr:nth-child(even){
  background-color:  rgb(244, 219, 229);

}
.fail{
  
  width:95%;
  height:85%;
  margin:2%;
  padding:30%;
  padding-left: 15%;
  padding-right: 15%;
}
.fail p{
  font-size: 25px;
  font-weight: bold;
  color:red;
  padding-left: 18%;
}