<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   <div class="parent">
        <img id='i1' src="/../assets/images/im1.jpg">
        <div class="container1">
            <h3>ROLE OF ANGANWADIS IN VILLAGES</h3><br>
            <p>
            Anganwadi is a government-sponsored child-care and mother-care development programmes in
            India at the village level. It caters to children in the 0-6 age group.
            They were started by the Indian government in 1975 as part of the Integrated Child
            Development Services program to combat child hunger and malnutrition. An Anganwadi centre
            provides basic health care facilities in Indian villages.
        
            It is a part of the Indian public health-care system. Basic health-care activities include
            contraceptive counselling and supply, nutrition education and supplementation, as well as preschool activities. The centres may also be used as depots for oral rehydration salts, basic
            medicines, contraceptives and child care. The meaning of the word Anganwadi in the English
            language is "courtyard shelter". The word Anganwadi is derived from the Hindi word “Angan”,
            it refers to the courtyard of a house. The Anganwadi is also used occasionally to cook food or
            for house hold members to sleep in an open air.
            </p>
        </div>
    </div>



    <div class="parent">
        <div class='container2'><p>
            <h3> Role Of Anganwadis In Early Schooling Of Rural Children :</h3>
            <p><br>
                • Showing Community Support and Active Participation in Executing This Program
                <br> <br>• To Conduct Regular Quick Surveys of All Families
                <br> <br>• Organize Pre-School Activities, Provide Health and Nutritional Education to Families
                Especially To Pregnant Women As To How To Breastfeeding Practices Etc.
                <br><br>• Motivating Families To Adopt Family Planning, Educating Parents About Child Growth.
            </p>
        </div>
        <img src="/../assets/images/im3.png" id="i3">
    </div>




    <div class="parent">
        <img id='i2' src="/../assets/images/im2.jpg">
        <div class='container1'><h3>Importance of Anganwadi Programme :</h3><br><br>
            <p>
                The Anganwadi Program is important because of its multiple child development behind The
                importance of the program are :
                <br><br>• Early years of Children are Vulnerable: Because the first six years are the most period of
                human life when the survival of the child is a challenge.
                <br><br>• A Rapid Period of Human Development: Because this is also the most rapid period Human
                development: from an infant unable to even hold up its head, to a chattering child, running
                around, asking a hundred questions, getting ready for school this is the journey a child covers
                in just six years
                <br><br>• First, Six Years of Life are most important for Learning as per tific Findings: Because
                science has established that the foundations of health, language, the capacity to learn, selfconfidence and personality of a human being are laid Because science has established that the
                foundations of health, language, the capacity to learn, self-confidence and personality of a
                human being are laid in the first six years of life. For instance, 80% of brain growth.
                
            </p>
        </div>
        
    </div>
</body>
</html>
<router-outlet></router-outlet>